
*, *::before, *::after{
    box-sizing: inherit;
}
@font-face {
  font-family: "Avenir";
  src: url(./alivio-fonts/Avenir-Black.ttf) format("ttf");
  src: url(./alivio-fonts/Avenir-Black.woff)format("woff");
  src: url(./alivio-fonts/Avenir-Black.woff2)format("woff2");
  font-weight: normal;
  font-style: normal;
}
body{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
    margin: 0;
   padding: 0;
   font-size: 20px;
   box-sizing: border-box;
    color: #424242;
}
ul { list-style-type: none; }
a {
  text-decoration: none;
  display: block;
}
img{
  display: block;
}
video{
  margin: 0;
  padding: 0;
}
.Alivio_main {

}
.Alivio_nav {
 
}
.container {
  max-width: 1920px;
  padding: 0 275px;
  margin: 0 auto;
}
.nav {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav>ul {
  display: flex;
  gap: 72px;
  color: #292929;
  margin-left:-150px;
  
}
.nav>ul>li {
  margin-top: 1px;
}
.nav>ul>li>a {
  color: #292929;
  font-weight: 500;

}
.logo {
  margin-left: -1px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 285px;
}
.btn1 {
  margin-left: 1px;
  margin-right: 36px;
  padding: 13px 0;
  color: #000;
}
.btn2 {
  color: #fff;
  background-color: #01996D;
  padding: 14px 49px;
    line-height: 25px;
}



.hero {
  background-image: url("./alivio-img/BG\ \(3\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right right;
  height: 80vh;
}
.container {
}
.hero_title {
  padding-top: 176px;
  max-width: 440px;
}
.hero_title>h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 65px;
  color: #01996D;
}
.hero_title>p {
  margin-top: -12px;
  max-width: 420px;
  line-height: 27px;
}
.hero_title>a {
  background-color: #01996D;
  color: #fff;
  max-width: 228px;
  padding: 20px 50px;
  margin-top: 60px;
  margin-left: -1px;
}








.Steps_main {
  margin-top: 160px;
  width: 100%;
}

.steps {
   
}
.step_top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 106px;
}
.step_left {
  min-height: 193px;
  max-width: 584px;
}
.step_left>p {
  font-size: 24px;
  color: #424242;
  font-weight: 600;
  margin-top: 14px;
}
.step_left>h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #01996D;
  margin-top: -23px;
  margin-left: -1px;
  font-size: 50px;
  font-weight: 700;
  line-height:157%;
  
}
.step_right {
  max-width: 657px;
}
.step_right>p {
  margin-top: 64px;
  margin-left: 6px;
  line-height:157%;
  word-spacing: 1px;
  font-weight: 500;
 
}
.step_bottom {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
 .step_item {
  position: relative;
  margin: 0 auto;
  max-width: 390px;
} 
 
.step_item>h3 {
  width: 313px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 11px;
  text-align: center;
}
.step_item>p {
  margin: 55px 0 24px;
}
.step_img{
  width: 390px;
  height: 492px;

}
.rectangle{
max-width: 375px;
margin: 0 auto;
}

.website {
  position: absolute;
  top: 219px;
  left: 206px;
  width: 177px;
  border-radius: 5px 0px 0px 5px;
}
.number_one{
position: absolute;
top:-126px;
left:-7px;
}
.one{
  max-height: 802px;
}
.one>p{
width: 382px;
 line-height: 30px;
}
.one>.step_img {
  position: relative;
}

.two{
margin-top: 290px;
max-height: 719px;
}

.two>h3{
  margin: 0 auto;
}
.two>p{
  line-height: 30px;
  max-width: 392px;
}
.two>.step_img{

}
.number_two {
position: relative;
top: -824px;
left: -5px;
}
.three{
position: relative;
 max-height: 721px;
}
.three>h3{
padding-left: 51px;
}
.three>p{
  margin-left: 2px;
  line-height: 150%;
  width: 438px;
}

.number_three {
  position: absolute;
  top: -126px;
  left: 0px;
} 







.Alivio_video {
  background-color: #245852;
  min-height: 922px;
}

.video_main {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 230px 207px 177px;
  margin: 0 auto;
}
.video_left,.video_right{

} 
.video_left {
  max-width: 580px;
}
.video_left>h2 {
    color: #fff;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 157%;
    
}
.video_left>p {
     color: #fff;
     font-size: 25px;
     font-weight: 600;
     margin-top: -4px;
     margin-bottom: 78px;
}
.video_left>a {
    color: #fff;
    max-width: 241px;
    font-size: 20px;
    margin-top: -17px;
    background-color: #01996D;
    padding: 20px 50px;
    border-radius: 5px;
}
.video_right {
  position: relative;
   width: 100%; 
   max-width: 896px;
   min-height: 515px;
   
}
/* .video {
    position: relative;
    top: 1px;
    z-index: 99;
    height: 515px;
    width: 896px;
     border-radius: 10px;
      object-fit: contain;
} */
.video{
  position: absolute;
  z-index: 99;
  border-radius: 10px;
 max-width: 896px;
 width: 100%;
 height: 100%;
 object-fit: contain;

}
/* .Kayla {
  position: absolute;
   top: 1px;
  height: 515px;
   width: 896px;
  z-index:97;
  border-radius: 10px;
}
.black {
    position: absolute;
    top: 1px;
      z-index: 98;
      height: 515px;
   width: 896px;
  border-radius: 10px;
} */
.Kayla {
 position: absolute;
 z-index: 97;
 max-width: 896px;
 border-radius: 10px;
 width: 100%;
 max-height: 515px;
 height: 100%;
 object-fit: contain;
}
.black {
 position: absolute;
 z-index: 98;
 max-width: 896px;
 border-radius: 10px;
 width: 100%;
 max-height: 515px;
 height: 100%;
 object-fit: contain;
}



.our_product {
  padding: 120px 0;
}
.product_main {
  display: flex;
  gap: 86px;
}
.product_image {
  position: relative;
  max-width: 700px;
  width: 100%;
  
}
.product_image1{
     max-width: 638px;
   width: 100%;
   max-height: 573px;
   height: 100%;
  object-fit: contain;
}
/* .product_image1 {
  width: 638px;
  height: 573px;
   z-index: 98;
} */
.product_image2{
    position: absolute;
   top: 67%;   /* 20 % от высоты родителя */
  left: -15%;   /* 5 % от ширины родителя */
   max-width: 296px;
   width: 100%;
  max-height: 293px;
  height: auto;
   z-index: 99;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);;
  border-radius: 5px;
  object-fit: contain;
}
/* .product_image2 {
  position: absolute;
  top:357px;
  left:-77px;
  width: 296px;
  height: 293px;
  z-index: 99;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);;
  border-radius: 5px;
} */
.product_title {
  max-width: 583px;
}
.product_title>h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  
}
.product_title>h2 {
  font-size: 50px;
  color: #01996D;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.product_title>p {
  max-width: 517px;
}
.product_title>a {
   background-color: #01996D;
   border-radius: 4px;
   color: #fff;
   width: 228px;
   padding: 20px 50px;
}


.footer {
background-color: #245852;
}
.footer_main {
  padding:92px 0;
  display: flex;
  flex-direction: column;
  
}
.footer_logo {
  font-family: "Avenir", sans-serif;
  text-align: center;
  color: #fff;
  max-width: 108px;
  font-size: 40px;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 60px;
  max-width: 129px;
}

.footer_nav ul {
    display: flex;          /* Включаем Flexbox */
    flex-direction: column;
    padding: 0;           /* Убираем отступы */
    gap: 60px;            /* Устанавливаем промежуток между элементами */
}

.footer_nav li {
    width: 121px;
}
.footer_nav li>a {
     color: #fff;
    /* Дополнительные стили для элементов списка */
    width: 121px;
}

@media (max-width:1900px){
  .Steps_main{
      height: 100%; /* Задаем высоту родителя */
  }
  .step_top{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .step_bottom{
    margin: 100px 0;
    flex-direction: column;
    align-items: center;
    gap: 95px;
  }
  .two{
    margin-top: 0;
  }
 
 .video_main {
  display: flex;
  flex-wrap: wrap-reverse;
}
.video{

}
.video_left{
  text-align: center;
}
.video_left>a{
  margin: 0 auto;
}
.product_main{
  flex-wrap: wrap;
  justify-content: center;
}
.product_title{
  margin-top: 66px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
}
@media (max-width:1330px){
.video_right{
 
}
.video{
    object-fit: cover;
  }
.Kayla{
       object-fit: cover;
}
.black{
       object-fit: cover;
}
.product_image{
}
.product_image1{
   
}
.product_image2{
  
}
}
@media (max-width:1136px){
  body{
    font-size: 18px;
  }
  
  .nav{
    justify-content: center;
  }
.btn1 {
  margin-left: 20px;
  padding-top: 18px;
}
  .hero_title>h1,.step_left>h2,.step_item>h3,.video_left>h2,.product_title>h2,h3{
   font-size: 35px;
  }
   .container{
      max-width: 1000px;
      padding: 0 100px;
  }
   .hero{
    background-size: none;/* Изображение будет масштабироваться, сохраняя пропорции */
    height: 50vh;
  }
  .hero_title{
    padding-top:30px ;
  }
.nav>ul {
  gap: 20px;
  margin-left: 0;
}
.Steps_main{
  margin-top: 50px;
}
.product_main{
  text-align: center;
  margin: 0 auto;
}
.step_item>h3{
  width: 365px;
}


}
@media (max-width:785px){
  body{
    font-size: 15px;
  }
  .Alivio_nav{
  
  }
  .nav{
    flex-wrap: wrap;
  }
  .nav>ul{
    padding-left: 10px;
    padding-right: 10px;
  }
    .container{
      max-width: 700px;
      padding: 0 50px;
  }
}
